<!DOCTYPE html>
<html lang="en">
   <head>
      <title><%= title %></title>
   </head>
   <body>
      <p>
         Welcome <strong><%= user.username %></strong><br>
         <a href="/signout" title="sign out">sign out</a>
      </p>
      <div id="msgdiv">
      <form action="/searchuser" method="post">
      	<input type="text" style="width: auto; margin-bottom: 10px;" placeholder="Search user" id="searchbox" name="searchbox"></input>
         <input type="submit"></input>
      </form>
      <form action="/postmsg" method="post">
      <textarea rows="4" cols="50" placeholder="What's up?" id="msg" name="msg"></textarea><br>
      <input type="submit" value="Post your message!" id="postmsg"></input>
      </form>
      </div>
      <div class="timeline">
      	<h2>Your timeline:</h2>
      	<% 
      		function nl2br(str, is_xhtml){
      			var breakTag = (is_xhtml || typeof is_xhtml === 'undefined') ? " \<br /\>" : " \<br\>";
				return (str + "").replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, "$1" + breakTag + "$2");
      		}
      		for(var i = 0; i < messages.length; i++) {
      			messages[i].content = nl2br(messages[i].content, false);%>
      			<p><%-messages[i].content%></p><%
      		} 
      		%>
      </div>
   </body>
</html>