<!DOCTYPE html>
<html lang="en">
   <head>
      <title><%= title %></title>
   </head>
   <body>
      <h2>Please login</h2>
      <form method="post" action="/login">
		 
         <% if(typeof(errorMessage) !== 'undefined') {%>
            <span><%= errorMessage %></span>
         <% } %>
         <p>
            <label for="username">username or email</label>
            <input type="text" name="username" id="username"
               placeholder="username or email" required="true"/>
         </p>
         <p>
            <label for="password">password</label>
            <input type="password" name="password" id="password"
               placeholder="password" required="true"/>
         </p>
         <p>
            <input type="submit" name="login" id="login" value="login"/> 
            <a href="/signup" title="register">register</a>
         </p>
			
      </form>
   </body>
</html>