<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= title %></title>
</head>
<body>
<a href="/">home</a>
<div class="timeline">
  	<h2>Found:</h2>
  	<%
  		for(var i = 0; i < users.length; i++) {%>
  			<a href="/user?userid=<%=users[i].userId%>"><%=users[i].username%></a><br><%
  		} 
  		%>
      </div>
</body>
</html>