<!DOCTYPE html>
<html lang="en">
   <head>
      <title><%= title %></title>
   </head>
   <body>
      <h2>Register Form</h2>
      <form method="post" action="/signup">
         <% if(typeof(errorMessage) !== 'undefined') {%>
         <span><%= errorMessage %></span>
         <% } %>
         <p>
            <label for="username">username</label>
            <input type="text" name="username" id="username"
               placeholder="username" required="true"/>
         </p>
         <p>
            <label for="password">password</label>
            <input type="password" name="password" id="password"
               placeholder="password" required="true"/>
         </p>
         <p>
            <label for="passwordrepeat">confirm password</label>
            <input type="password" name="passwordrepeat" id="passwordrepeat"
               placeholder="password" required="true"/>
         </p>
         <p>
            <label for="email">email</label>
            <input type="email" name="email" id="email" placeholder="email" required="true" />
         </p>
         <p>
            <input type="submit" name="signup" id="signup" value="register"/>
            <a href="/login" title="sign in">login</a>
         </p>
      </form>
   </body>
</html>