<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= title %></title>
</head>
<body>
<a href="/">home</a>
<div class="user">
  	<h2>User page of <%=searcheduser.username%></h2>
    <% if(!following) { %>
    <a href="/follow?userid=<%=searcheduser.userId%>">
      <button>follow</button>
    </a>
    <% } else { %>
    <a href="/unfollow?userid=<%=searcheduser.userId%>">
      <button>unfollow</button>
    </a>
    <% } %>
  	<h3>Posts:</h3>
  	<p><%
  		function nl2br(str, is_xhtml){
  			var breakTag = (is_xhtml || typeof is_xhtml === 'undefined') ? " \<br /\>" : " \<br\>";
			return (str + "").replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, "$1" + breakTag + "$2");
      	}
  		for (var i = 0; i < messages.length; i++){
  			messages[i].content = nl2br(messages[i].content, false);
			%><p><%-messages[i].content%></p><%
  		}%>
  	</p>
</div>
</body>
</html>